
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>ShowCart</title>
</head>
<body>
    <a href="/Home/index"><h1>Pizza Lists</h1></a>

    <table class="table table-bordered">
        @foreach (var cart in Model.CartItems)
        {
            <tr>
                
                <td>@cart.Title</td>
                <td>@cart.Size</td>
                <td>@cart.Quantity</td>
                <td>@cart.Price</td>
                <td><a href="/Home/deleteCartItem?id=@cart.PizzaID&size=@cart.Size">delete</a></td>
            </tr>

        }
    </table>
    <h1>Total: @Model.TotalPrice</h1>
    
    <a href="/CheckOut/Details">Check OUt</a>
    
</body>
</html>
